/1-node-tutorial/node_modules
/2-express-tutorial/node_modules
/projects/github-most-starred/node_modules
/projects/github-most-starred/.env
/projects/html-text-getter/node_modules
/projects/image-compresser/node_modules
/projects/simple-CRUD/node_modules
/projects/simple-CRUD/.env